    <!-- <ul>
      <% @contacts.each {|contact| -%><li>
<%= "#{contact.full_name.split.map(&:capitalize).join(' ')} | email:#{contact.email} | notes:#{contact.notes}" %>
        <% } %></li>
    </ul> -->
    <div class = "contactnumber centered">
      <p>There are <span class="underlined"><%= @num_contacts %></span> contacts</p>
    </div>

    <div class="centered">
      <% @contacts.each {|contact| -%>
        <div class="contact">
        <p><%= "#{contact.full_name.split.map(&:capitalize).join(' ')} (#{contact.email})" %></p>
        <p><a href="#">Edit</a> | <a href="#">Delete</a></p>
        </div>
        <% } %>
    </div>
    <!-- #{contact.notes} -->
    <!-- <table class = "centered">
      <tr>
        <th>Name</td>
        <th>Email</td>
        <th>Notes</td>
      </tr>
      <% @contacts.each {|contact| -%><tr>
<%= "<td>#{contact.full_name.split.map(&:capitalize).join(' ')}</td>
<td>#{contact.email}</td>
<td>#{contact.notes}</td>" %>
        <% } %></tr>
    </table> -->
