<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRM</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <h1>Bitmaker CRM</h1>
    <nav>
      <ul>
        <li><a href="/contacts">Home</a></li>
      </ul>
      <ul>
        <li><a href="/contacts">Add a contact</a></li>
      </ul>
      <ul>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>© Bitmaker 2018</p>
      <p>John Carlo Lopez</p>
    </footer>
  </body>
</html>
