html {
  box-sizing: border-box;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
  background-color: white;
}

h1 {
  text-align: center;
  background-color: #333333;
  padding: 0.25em;
  color: white;
  font-weight: bold;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #AAAAAA;
  padding: 1em;
  text-align: left;
}

nav {
  text-align: center;
}

.about {
  display: inline-block;
  text-align: center;
  margin: 0.3em 5% 0 5%;
  width: 90%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: block;
  background-color: #D3D3D3;
  padding: 0.25em;
  font-size: 1.25em;
  color:white
}
li:nth-child(n+1) {
  margin: 0.15em 0 0;
}
.centered {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}
.underlined {
  text-decoration: underline;
  text-decoration-color: #5DBCD2;
}
.contactnumber {
  background-color: #FB7E78;
  color: black;
  overflow: hidden;
  font-size: 1.5em;
  padding: 0.25em;
  margin-top: 0.25em;
}
.contact {
  background-color: #5DBCD2;
  font-size: 1.5em;
  margin-bottom: 0.25em;
  padding: 1em;
}
.contact:first-child {
  margin-top: 0.25em;
}
.contact p:last-child {
  font-size: 0.8em;
}
.contact p:last-child a {
  color: blue;
}
footer {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 0.75em;
  padding: 0.25em;
}
